:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
/* 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
    max-width: 1440px;
    margin: auto;
    font-size: 14px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body.dark-mode,
body.dark-mode .search-input,
body.dark-mode .form-select,
body.dark-mode .my-card,
body.dark-mode .text-body-secondary,
body.dark-mode #mode {
 background: #222 !important;
  color: #fff !important;
  border-color: #444 !important;
}
body.light-mode,
body.light-mode .form-select,
body.light-mode .search-input,
body.light-mode .my-card {
  background: #fff !important;
  color: #222 !important;
  border-color: #ccc !important;
}
#moon {
  width: 25px;
  height: 25px;
  background: transparent; 
  border: none;            
}
#theme-toggle {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.search-selector-row {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  justify-items: center;
  width: 100%;
  padding: 0 30px 5px 30px ;
}

.search-input {
  width: 250px;
  padding: 5px 5px 5px 40px; 
  background-image: url('###'); 
  background-position: 10px center; 
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#countries-container {
  font-size: 16px;
}
